<mat-card>
    <mat-card-title>User Registration</mat-card-title>
    <mat-card-content>
        <form class="example-form" [formGroup]="reactiveform" (ngSubmit)="SaveUser()">

            <mat-form-field class="example-full-width">
                <mat-label>UserID</mat-label>
                <input matInput placeholder="Username" formControlName="userid">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>UserName</mat-label>
                <input matInput placeholder="Username" formControlName="name">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Password" type="password" formControlName="password">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" formControlName="email">
            </mat-form-field>

            <div>
                <button mat-raised-button type="submit" color="primary">Register</button>
                <a mat-raised-button style="margin: 5px;" color="accent" (click)="RedirectLogin()">Close</a>
            </div>
            <pre>{{ reactiveform.value| json }}</pre>
        </form>

    </mat-card-content>

</mat-card>